.App {
  text-align: center;
  width: 400px;
  margin-left: 35%;
}

.display {
  border: 2px solid black;
  background-color: gray;
  text-align: center;
  margin: 15px;
  width: 320px;
}

.buttons {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 15px;
  width: 320px;
}

.character {
  background-color: orange;
  height: 45px;
  width: 100px;
}

.special {
  background-color: darkgray;
  height: 45px;
  width: 100px;
}

.numbers {
  background-color: lightgray;
  height: 45px;
  width: 100px;
}
